body{
    background-image: url("https://images.unsplash.com/photo-1644329771977-0a8c6e3928ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80")
    
}
h1{
    color: white; 
    font-family: 'Courier New', Courier, monospace;   
}
.container{
    width: auto;
    height: auto;

}
#inputfield{
    height: 40px;
    
}
#addTODO{
    height: 50px;
    width: 50px;
    border:5px solid black;
    vertical-align:middle;
    font-size:15px;
    font-style:italic;
}
.to-dos{
    margin-top: 25px;
    height: 50px;
    color: blanchedalmond;
}
.paragraph-styling{
    margin: 0;
    cursor:pointer;
    font-size: 20px;
}